doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/ol.css" type="text/css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/samples.css")
  body
    block content
