extends map-layout

block content
  div(id="map" class="map")   
    script(type="text/javascript" src="/javascripts/ol.js")    
    script(type="text/javascript").	  
      var osmLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
      });
      var birmingham = ol.proj.transform([-1.81185, 52.44314], 'EPSG:4326', 'EPSG:3857');      
      var view = new ol.View({      
        center: birmingham,
        zoom: 1
      });
      var map = new ol.Map({
      //	renderer: 'dom',
        target: 'map',
       // layers: [osmLayer],
        view: view
      });     

      // '/images/osm/{z}/{x}/{y}.png'
      var newLayer = new ol.layer.Tile({
        source: new ol.source.OSM({
          url: '/images/watercolor/{z}/{x}/{y}.png'
        })
      });
      map.addLayer(newLayer);
      
      //var allOverLays = JSON.parse('!{allAcont}');
      var allOverLays = JSON.parse('!{allAcont}');

      console.log(allOverLays);
      console.log('!{allAcont}');
      for(var i = 0; i < allOverLays.length; i++){
        console.log(allOverLays[i].coordenadas);
        var coord = [parseFloat(allOverLays[i].coordenadas[0]), parseFloat(allOverLays[i].coordenadas[1])];
        console.log(coord);

        var div = document.createElement("div");
        var img = document.createElement("img");
        img.src = "images/icon.png";
        div.appendChild(img);
        var overlay = new ol.Overlay({
          element : div,
          positioning : 'bottom-center'
        });
        var pos = ol.proj.transform(coord, 'EPSG:4326', 'EPSG:3857');
        overlay.setPosition(pos);
        map.addOverlay(overlay);

      }
	
